.container{
    text-align: center;
    background-color: white;
}
img{
    width: 100%;
}
.zagolovok{
    color: rgb(240, 212, 159);
    font: 2,8em sans-serif;
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
}
.text{
    color: rgb(240, 180, 70);
    font: 1,3em sans-serif;
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
}
#buy{
    font: 1em sans-serif;
    width: 30%;
    color: gold;
    flex-shrink: 0;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
}
